$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;line-height: 1;font-size: 14px;
    -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}input::-ms-clear{display:none;}
button{cursor: pointer;} button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;} a:hover{text-decoration: none;}
ul li{list-style: none;} img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*BOOTSTRAP ICONS*/
    .bi {
        vertical-align: middle;
        line-height: 0;
    }
/*BOOTSTRAP ICONS*/

html {
    font-size: 16px;
}


body {
    background: url("https://images.unsplash.com/photo-1680955886049-ce69173143bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80") center 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.2rem;
}

.loader-container {
    z-index: 11;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.7);
}

.loader {
    z-index: 12;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid gray;
    border-top: 10px solid blue;
    animation: spin 2s infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.container {
    width: 80%;

    margin: 0 auto;
}

.todo-body {
    padding-top: 50px;

    height: 100vh;
}

.todo-body__row {
    align-items: center;
}

.todo-body__title {
    text-align: center;

    font-size: 2rem;
    color: #fff;
}

.todo-form__description {
    text-align: center;

    font-size: 1.5rem;
    color: #fff;

    margin: 20px 0 20px 0;
}

.todo-row__form {
    text-align: center;
    display: flex;
    justify-content: center;

    padding: 10px;
    margin-bottom: 20px;
}

.todo-form__input {
    width: 400px;

    padding: 8px;
}

.todo-form__button {
    padding: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;

    background-color: #fff;
    border: none;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.todo-form__button:hover {
    background-color: #2EE59D;

    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);

    color: #fff;

    transform: translateY(-7px);
}

.todo-row {
    display: flex;
    justify-content: space-around;
}

.todo-row__list-new {
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    width: 49.5%;

    align-self: flex-start;
}

.todo-row__list-completed {
    background-color: whitesmoke;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    width: 49.5%;

    align-self: flex-start;
}

.todo-list__item {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-bottom: 2px solid #000000;
}

.todo-list__item-container {
    display: flex;
}

.todo-list__item-checkbox {
    margin-right: 5px;
}

.todo-list__text {
    max-width: 230px;

    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo-list__text-extended {
    max-width: none;

    overflow: visible;
    white-space: normal;
    overflow-wrap: break-word;

}

.tooltip {
    position: relative;
}

.tooltip:hover .tooltipText {
    opacity: 1;
    transition: opacity 0.5s;
}

.tooltip .tooltipText {
    opacity: 0;

    white-space: nowrap;

    background-color: rgba(0, 0, 0, 0.82);
    color: #fff;
    font-size: 10px;

    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 16px;

}

.todo-list__button {
    display: flex;
}

.todo-list__button button:not(:last-child) {
    margin-right: 5px;
}

.todo-list__edit-button {
    padding: 1px 6px 2px 6px;

    cursor: pointer;

    border:none;
    border-radius: 4px;

    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: hsl(144,60%,52%);
}

.todo-list__edit-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    overflow: hidden;
    vertical-align: middle;
}

.todo-list__edit-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.todo-list__edit-button:hover span {
    padding-right: 15px;
}

.todo-list__edit-button:hover span:after {
    opacity: 1;
    right: 0;
}

/*dsdsdsdsdsdsd*/

.todo-list__delete-button {
    padding: 1px 7px 2px 7px;

    cursor: pointer;

    border:none;
    border-radius: 4px;

    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;


}

.todo-list__delete-button:hover {
    background: #ff3636;
}

.todo-list__delete-button:focus {
    outline: none;
}

.todo-list__delete-button span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    position: relative;

    overflow: hidden;
    vertical-align: middle;

}

.todo-list__delete-button span:after {
    content: 'DELETE?';
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -25px;
    transition: 0.3s;
}

.todo-list__delete-button:hover span {
    padding-right: 60px;
}

.todo-list__delete-button:hover span:after {
    opacity: 1;
    right: 0;
}

/*DIALOG MODAL WINDOW STYLES*/

.overlay {
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;

    background-color: hsla(0, 0%, 0%, 0.6);

    height: 100%;
    width: 100%;
}

.dialog {
    z-index: 10;
    display: inline-block;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 10px;

    width: 100%;
    max-width: 350px;
}

.dialog-header {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 10px 10px 5px 10px;
}

.dialog-header__title {
    font-size: 1.7rem;
}

.dialog-header__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: unset;
}

.dialog-body {
    padding: 10px;
}

.dialog-body__form-group:not(:last-child) {
    margin-bottom: 20px;
}

.dialog-body__form-label {
    display: block;
    margin-bottom: 10px;
}

.dialog-body__form-input {
    display: block;

    width: 100%;
    resize: none;

    border: 1px solid #7c7b7b;
    border-radius: 5px;
    padding: 5px;
}

.dialog-body__form-textarea {
    min-height: 70px;
}

.dialog-footer {
    padding: 10px;
}

.dialog-footer__btn-group {
    display: flex;
    justify-content: flex-end;
}

.btn-group__discard-btn {
    display: inline-block;

    background-color: #E53E3E;

    padding: 5px 10px;
    border-radius: 5px;
}

.btn-group__apply-btn {
    display: inline-block;

    background-color: #319795;

    padding: 5px 10px;
    border-radius: 5px;
}

.dialog-footer__btn-group > button:not(:last-child) {
    margin-right: 10px;
}
/*DIALOG MODAL WINDOW STYLES*/